
/* #### Site layout #### */

html, body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divider {
  background-color: #cccccc;
  width: 100%;
  height: 1px;
  border-radius: 3px;
}

.app-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}


@media(max-width: 1182px) {
    .app-container {
      width: 80%;
    }
}

@media(max-width: 768px) {
    .app-container {
      width: 95%;
    }
}



/* #### Input field #### */

.input-box {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


#input-term {
  outline: none;
  border: none;
  font-size: 18px;
  flex: 5;
}

#add-button {
  flex: 1;
  max-width: 60px;
  outline: none;
  font-size: 18px;
  padding: 10px 0px;
  background-color: #f73858;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#add-button:hover,
#add-button:active {
  opacity: 0.7;
}


/* #### Tags #### */

.tag-box {
  width: 100%;
  display: block;
  margin-top: 5px;
  padding: 15px;
}

.tag {
  color:white;
  display: block;
  float: left;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.tag:nth-of-type(1){
  margin-left: 0;
}

.tag:hover {
  opacity: 0.7;
}

@media(max-width: 768px){
  .tag {
    margin: 2px;
  }
}

/* #### Item list #### */

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.item-list {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.item {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-text {
  font-size: 18px;
}

.item-text>input {
  height: 25px;
  width: 25px;
}

.checked {
  text-decoration: line-through;
}
